.homepage {
  .screen1 {
    height: 100vh;
    width: 100%;
  }

  .logo-container {
    text-align: center;
    padding: 1%;

    .logo-xdream {
      margin-top: 30vh;
      width: 50%;
      -webkit-animation: flip-in-hor-bottom 1s linear alternate both;
      animation: flip-in-hor-bottom 1s linear alternate both;
    }
  }

  .dialog {
    text-align: center;

    h1 {
      font-size: 4em;
      color: #fff;
      line-height: 1em;
    }

    h2 {
      font-size: 2em;
      color: #fff;
      line-height: 1em;
    }
  }

}

/**
  * ----------------------------------------
  * animation logo-xdream
  * ----------------------------------------
  */
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
    transform: rotateX(80deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 1;
  }
}